PORT=5000
MONGODB_URI=mongodb+srv://codelura_db_user:Codelura%4012345@codelura.dr0gcls.mongodb.net/notesapp?retryWrites=true&w=majority&appName=Codelura
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
